/* TaskDetails && Inbox*/
.margin{
    margin-top: 25px;
    margin-left: 25px;
  }
  
  
  .boldtext {
    font-weight: bold !important;
    color: black !important;
    padding: 10px;
  }
  
  .css-w4gp61-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
    color:  black !important;
    background-color: #99def3 !important;
  }
  
  .tabs-container {
    display: flex !important;
    width: 100% !important;
  }
  
  .tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
  }
  

.fade-message-box {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.4s ease;
    z-index: 999;
    display: flex;
    flex-direction: column; /* This stacks children vertically */
    align-items: flex-start;
  }
  
  .fade-message-box span {
    font-size: 1.2rem;
    margin-right: 10px;
  }
  
  .close-button {
    margin-left: 10px;
    border: none;
    background-color: transparent;
    color: #155724;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .completeBtn {
    margin-top: 10px;
    margin-left: 215px;
    border: solid 1px rgb(4, 67, 4);
    border-radius: 5%;
    background-color: rgb(4, 67, 4);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .fade-message-box {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.4s ease;
    z-index: 999;
    display: flex;
    flex-direction: column; /* This stacks children vertically */
    align-items: flex-start;
  }
  
  .fade-message-box span {
    font-size: 1.2rem;
    margin-right: 10px;
  }
  
  .close-button {
    margin-left: 10px;
    border: none;
    background-color: transparent;
    color: #155724;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .completeBtn{
    margin-top: 10px;
    border: solid;
    background-color: transparent;
    color: #28a745;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  