/* TaskDetails && Inbox*/

.boldtext {
  font-weight: bold !important;
  color: black !important;
  padding: 10px;
}

.css-w4gp61-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
  color: black !important;
  background-color: #99def3 !important;
}

.tabs-container {
  display: flex !important;
  width: 100% !important;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}


.fade-message-box {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  color: #155724;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.4s ease;
  z-index: 999;
  display: flex;
  flex-direction: column;
  /* This stacks children vertically */
  align-items: flex-start;
}

.fade-message-box span {
  font-size: 1.2rem;
  margin-right: 10px;
}

.close-button {
  margin-left: 10px;
  border: none;
  background-color: transparent;
  color: #155724;
  font-size: 1.2rem;
  cursor: pointer;
}

.completeBtn {
  margin-top: 10px;
  margin-left: 215px;
  border: solid 1px rgb(4, 67, 4);
  border-radius: 5%;
  background-color: rgb(4, 67, 4);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.fade-message-box {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  color: #155724;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.4s ease;
  z-index: 999;
  display: flex;
  flex-direction: column;
  /* This stacks children vertically */
  align-items: flex-start;
}

.fade-message-box span {
  font-size: 1.2rem;
  margin-right: 10px;
  color: black;
}

.floating-action-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #cce5ff;
  color: #004085;
  border: none;
  border-radius: 5%;
  width: 120px;
  height: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 22px;
  cursor: pointer;
  z-index: 1000;
}

.close-button {
  margin-left: 10px;
  border: none;
  background-color: transparent;
  color: #155724;
  font-size: 1.2rem;
  cursor: pointer;
}

.completeBtn {
  margin-top: 10px;
  border-radius: 5px;
  border: solid #0d5e09;
  background-color: #0d5e09;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.hover-button {
  position: absolute;
  top: 6px;
  right: -15px;
  width: 30px;
  height: 27px;
  border-radius: 80%;
  border: 1px solid rgb(68, 84, 111);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  background-color: white;
  /* default background */
}

.hover-button.hovered {
  background-color: rgb(58, 112, 206);
}

.sidebar {
  position: relative;
  height: 93vh;
  overflow: hidden;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar.expanded {
  width: 300px;
}

.border-none {
  border: none !important;
}

.full-height {
  max-height: 100vh !important;

}

.transparent {
  background-color: transparent !important;
}

.scrollable-y {
  overflow-y: scroll !important;
}

.delete-icon {
  cursor: pointer;
  font-size: 16px;
  color: red;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.scrollable-container {
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: #888 transparent;
  /* For Firefox */
}

/* For Chrome, Edge, and Safari */
.scrollable-container::-webkit-scrollbar {
  width: 6px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: transparent;
}

.card-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 auto;
    width: 1.33333333% !important;
  }
}